.post {
  margin: 0px;
  padding: 40px 0 40px 0;

  &-left-search{
    border: 1px solid $main-color;
    padding-bottom: 20px;

    &-header{
      background-color: $main-color;
      color: #fff;
      padding: 19px 15px;
      margin: 0 0 20px;
      font-size: 14px;
      text-transform: uppercase;

    }
    &-cont{
      padding: 0 20px;

      &-inp{
        width: 100%;
        border: 1px solid $text-color;
        padding: 12px 15px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-right: 15px;
        vertical-align: middle;
      }
    }
  }
  &-left-info{
    border: 1px solid $main-color;
    margin-top: 30px;

    &-header{
      background-color: $main-color;
      color: #fff;
      padding: 19px 15px;
      font-size: 14px;
      text-transform: uppercase;
    }
    &-cont{
      padding: 0 20px;

      &-list{
        list-style: none;
        padding: 0;
        margin: 0;
      }
      &-item{
        display: block;
        border-bottom: 1px solid #5d5b5b;
        -webkit-transition: 300ms;
        transition: 300ms;
        position: relative;
        border-bottom: 1px solid $text-color;

        &:last-child{
          border-bottom: none;
        }
      }
      &-link{
        display: block;
        padding: 6px 0;
        line-height: 36px;
        //-webkit-transition: 300ms;
        //transition: 300ms;
        position: relative;
        color: $text-color;

        &:before{
          font-family: 'FontAwesome';
          content: "\f105";
          margin-right: 8px;
        }

        &:hover{
          text-decoration: none;
          color: $main-color;
        }
      }

    }
  }

  &-right{

    &-pic{

      &-img{
        width: 100%;
      }
    }

    &-info{

      &-list{
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-size: 10px;
        line-height: 10px;
      }
      &-item{
        display: inline-block;
        font-size: 12px;
        color: $text-color;
        text-transform: uppercase;
        margin: 0 16px 0 0;

        &:first-child{
          margin-left: 0;
        }

        &-text{
          padding-left: 5px;

          &-tags{
            padding-left: 0;
          }

          &--tags{
            color: $main-color;

            &:hover{
              color: $main-color;
              cursor: pointer;
            }
          }
        }

        &-voting{
          unicode-bidi: bidi-override;
          font-size: 14px;
          display: inline-block;
        }
        &-star{
          font-family: "FontAwesome";
          font-weight: normal;
          font-style: normal;
          display: inline-block;

          &:before{
            content: "\f006";
            color: $second-color;
          }

          &--active:before {
            content: "\f005";
            color: $second-color;
          }
          &--activehalf:before {
            content: "\f123";
            color: $second-color;
          }
        }
      }
    }

    &-title{
      @include h2-title();
      margin-bottom: 20px;

      &-color{
        color: $main-color;
      }
    }

    &-posttitle{
      font-family: $ff-main-italic;
      font-size: 18px;
      margin-bottom: 25px;

      &-color{
        color: $main-color;
      }
    }

    &-text{
      color: $text-color;
      margin-bottom: 25px;
    }

  }

  &-after{
    margin-bottom: 20px;

    &-title{
      color: #000;
      font-family: $ff-main-bold;
      font-size: 18px;
      text-transform: uppercase;
      //margin-bottom: 19px;

      &-color{
        color: $main-color;
      }
    }

    &-list{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &-item{
      display: block;
      -webkit-transition: 300ms;
      transition: 300ms;
      position: relative;
      line-height: 30px;

    }
    &-link{
      display: block;
      position: relative;
      color: $main-color;

      &:before{
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        content: "";
        margin-right: 8px;
        background-color: $second-color;
        vertical-align: middle;
      }

      &:hover{
        text-decoration: none;
        color: $main-color;
      }
    }
  }

  &-inpcom{
    font-size: 14px;

    &-title{
      color: #000;
      font-family: $ff-main-bold;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 20px;

      &-color{
        color: $main-color;
      }
    }

    &-posttitle{
      font-size: 13px;
      color: $text-color;

      &:last-child{
        margin-bottom: 20px;
      }
    }

    &-name,
    &-mail{

      &-inp{
        width: 100%;
        border: 1px solid #b0b0b0;
        padding: 9px 15px;
        vertical-align: middle;
        margin-bottom: 20px;
      }
    }

    &-text{

      &-inp{
        width: 100%;
        height: 155px;
        border: 1px solid #b0b0b0;
        padding: 9px 15px;
        vertical-align: middle;
        margin-bottom: 20px;
      }
    }

    &-btn{
      display: inline-block;
      padding: 0 27px;
      background: #e72530;
      font-family: "PT_Sans";
      font-size: 14px;
      height: 48px;
      line-height: 48px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      color: #fff;
      text-transform: capitalize;
      text-decoration: none;
      vertical-align: middle;
      border: none;

      &:hover{
        @include btn-hover();
      }
    }
  }

}