@media (min-width: 1200px){
  .modal-lg {
    width: 1140px;
  }
}


@media screen and (max-width: 1440px) and (min-width: 1201px){

}

@media screen and (max-width: 1200px) and (min-width: 993px){
  @import "response/modal_1200";
  @import "response/header_1200";
  @import "response/sec1_1200";
  @import "response/sec2_1200";
  @import "response/sec3_1200";
  @import "response/sec4_1200";
  @import "response/sec5_1200";
  @import "response/sec6_1200";
  @import "response/sec7_1200";
  @import "response/sec8_1200";
  @import "response/sec9_1200";
  @import "response/sec10_1200";
  @import "response/sec11_1200";
  @import "response/sec12_1200";
  @import "response/sec13_1200";
  @import "response/sec14_1200";
  @import "response/sec15_1200";
  @import "response/sec16_1200";
  @import "response/sec17_1200";
  @import "response/sec18_1200";
  @import "response/footer_1200";
}

@media screen and (max-width: 992px) and (min-width: 769px){
  #menu {
    display:none;
  }

  .slicknav_menu {
    display:block;
  }

  @import "response/modal_992";
  @import "response/header_992";
  @import "response/slider_992";
  @import "response/sec1_992";
  @import "response/sec2_992";
  @import "response/sec3_992";
  @import "response/sec4_992";
  @import "response/sec5_992";
  @import "response/sec6_992";
  @import "response/sec7_992";
  @import "response/sec8_992";
  @import "response/sec9_992";
  @import "response/sec10_992";
  @import "response/sec11_992";
  @import "response/sec12_992";
  @import "response/sec13_992";
  @import "response/sec14_992";
  @import "response/sec15_992";
  @import "response/sec16_992";
  @import "response/sec17_992";
  @import "response/sec18_992";
  @import "response/footer_992";

}

@media screen and (max-width: 768px) and (min-width: 481px){

}

@media screen and (max-width: 480px) and (min-width: 320px){

}