.sec19 {
  margin: 0px;
  padding: 40px 0 40px 0;

  &-cont{

    &-title{
      color: #000;
      font-size: 24px;
      line-height: 1.2;
      font-family: "PT_Sans-Bold";
      text-transform: uppercase;
      margin-bottom: 23px;

      &-color{
        color: $main-color;
      }
    }
    &-text{
      color: #b0b0b0;

      &-color{
        color: $main-color;
      }
    }
  }
}