.sec4{
  margin: 0;
  padding: 40px 0 40px 0;
  position: relative;

  &-cont{
    padding-top: 130px;

    &-title{
      font-size: 37px;
      margin-bottom: 33px;
      text-align: center;
      text-transform: uppercase;

      &-color{
        color: $main-color;
      }
    }

    &-block{
      font-size: 17px;
      margin-bottom: 27px;

      &-name-inp,
      &-phone-inp{
        width: 100%;
        border: 1px solid $text-color;
        padding: 12px 15px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-right: 15px;
        vertical-align: middle;
      }

      &-btn-a{
        @include btn();

        &:hover{
          @include btn-hover();
          color: #fff;
        }
      }
    }
  }

  &-img{
    position: static;

    img{
      width: 100%;
    }

    &-bg{
      height: 190px;
      background-color: #f1f1f1;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40px;
      z-index: -1;
    }
  }

  &-setbg{
    position: static;
  }
}