#sp-header .logo .sp-logo-h1 {
  padding: 0 5px;
}

.sp-megamenu-parent > li > a {
  font-size: 11.6px;
}

#sp-menu .sp-menu-item-sublink {
  font-size: 11.6px;
}

#sp-menu .sp-menu-item:last-child .sp-menu-item-sublist {
  left: -127px;
}