.sec17-left{
  margin-bottom: $mobile-margin;
}
.sec17-mid-text {
  height: auto;
}
.sec17-mid{
  margin-bottom: $mobile-margin;
}

.footer-clearfix992{
  content: '';
  display: table;
  clear: both;
}
.footer-about-logo-link-img {
  width: 150px;
}