.sec1-left-top-item .sppb-feature-box-title{
  height: 36px;
}

.sec1-left-top-item .sppb-addon-text{
  height: 108px;
}

.sec1-left-top {
  margin-bottom: 52px;
}

.sec1-right-bot ul {
  height: 144px;
}