.sec10-right-quote {
  font-size: 14px;
  line-height: 1.2;
  padding: 36px 15px;
}
.sec10-right-quote-text:before {
  font-size: 24px;
  top: -30px;
}
.sec10-right-quote-text:after {
  font-size: 24px;
  bottom: -30px;
}